html, body {
    height: 100%;
    width: 100%;
    /* background-color: rgb(248, 248, 255); */
    background-color: #001A33;
}


.nav-link {
    color: #404040;
    font-size: 150%;
}

#home {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin: 0px;
}

.container {
    position: absolute;
    bottom: 60%;
    left: 7%
}

.navbar {
    background: transparent;
}

.lead {
    /* top: 10%; */
    text-align: center;
    font-size: 1.7rem;
    width: 80%;
    margin: auto;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.card-title {
    text-align: center;
}

.jumbotron {
    margin: 0px;
    background-color: #F5F5F5;
    padding: 1%;
    color: #404040;
}

.introduction-container {
    height: 90%;
    width: 75%;
    margin: auto;
}

.display-4 {
    text-align: center;
}

.card-img-top {
    height: auto;
    width: 100%;
    display: block;
}

#transition-img {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin: 0px;
}

/* Card Zoom Logic */
.card-flatwork  {
    overflow: hidden;
    border-radius: 100%;
}

.card-waterfeature  {
    overflow: hidden;
    border-radius: 100%;
}

.card-foundation  {
    overflow: hidden;
    border-radius: 100%;
}

/* .card-pumptruck  {
    overflow: hidden;
    border-radius: 100%;
} */

.flatwork-img:hover {
    transform: scale(1.2);
    opacity: .6;
}

.waterfeature-img:hover {
    transform: scale(1.2);
    opacity: .6;
}


.foundation-img:hover {
    transform: scale(1.2);
    opacity: .6;
}

/* .pumptruck-img:hover {
    transform: scale(1.2);
    opacity: .6;
}  */

.text {
    color: #404040;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: .2s ease;
  }


.mb-3 {
    background-color: #001A33;
}

.footer-links {
    height: auto;
    width: 100%;
    justify-content: center;
}

.footer {
    background-color: #101010;
    color: #404040;
}

.nav-link-footer{
    color: #404040;
}

.footer-body {
    font-size: 50%;
}


/* ABOUT CSS */
#home-about {
    display: table;
    height: 90%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin: 0px;
}

/* CONTACT CSS*/
#home-contact {
    display: table;
    height: 90%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin: 0px;
}

.location-card {
    background-color:#F5F5F5;
}

.contact-form-card {
    background-color: #F5F5F5;
}

/* Terms */
.terms-text {
    margin-top: 5%;
}

/* Project CSS*/
#home-projects {
    display: table;
    height: 90%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin: 0px;
}

/* Logo Logic*/
.small-logo{
    display: none;
}

@media (max-width: 600px) {
    .large-logo {
        display: none;
    }

    .small-logo {
        display: block;
    }
}


/* Home Page */
@media (max-width: 800px) {
    #home {
        opacity: 0.3;
    }
}

/* About Page */
@media (max-width: 800px) {
    #home-about {
        opacity: 0.3;
    }
}

/* Project Page */
@media (max-width: 800px) {
    #home-projets {
        opacity: 0.3;
    }
}

/*Contact Page */
@media (max-width: 800px) {
    #home-contact {
        opacity: 0.3;
    }


}

/* Header Text Resizing*/
@media (max-width: 600px) {
    .display-4 {
        font-size: 2.0rem;
    }
    .lead {
        width: 90%;
    }

    .text {
        opacity: 1;
        color: #404040;
    }

    .flatwork-img {
        /* transform: scale(1.2); */
        opacity: .6;
    }

    .waterfeature-img {
        /* transform: scale(1.2); */
        opacity: .6;
    }

    .foundation-img:hover {
        /* transform: scale(1.2); */
        opacity: .6;
    }
}

